<template name="registerPage">
  {{#if adminNotCreated}}
  <form class="main col-md-6" role="form">
    <div class="form-group">
      {{ text_field 'email' label='Email' }}
    </div>
    <div class="form-group">
      {{ text_field 'password' label='Password' type='password' }}
    </div>
    <div class="form-group">
      {{ submit_button 'Register' class='btn btn-warning btn-md' }}
    </div>
  </form>
  {{else}}
  <p>You already register an admin user. Click <a href="{{pathFor 'loginPage'}}">here</a> 
  to login.</p>
  {{/if}}
</template>
